* {
		font-size: 50px;
		font-family: Arial, sans-serif;
		zborder:1px solid red;
	}

	h1 {
		text-align: center;
		zfont-size: 55px;
	}
	
	h3 {
		margin: 0px 0px 10px 0px;
		padding: 0px;
	}
	
    table {
	  clear: both;
      border-collapse: collapse;
      margin: 10px;
    }
	
    td {
      border: 1px solid #aaa;
      padding: 1px;
      text-align: center;
      cursor: pointer;
      width: 150px;
	  height: 100px;
    }

	table tr td:nth-child(3){
		zborder-right-style: double; 
		border-right-width: 3px;
		zborder-color: #aaa green #aaa #aaa;
	}
    
	thead {
      border: 1px solid #aaa;
      padding: 2px;
      text-align: center;
      cursor: pointer;
      background-color: #f0f0f0;
    }

    button {
      margin: 0px;
      padding: 15px 15px;
      background-color: #007BFF;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }
	
	#namesPopup button {
		margin-top: 10px;
	}
	
    button:hover {
      background-color: #0056b3;
    }
	
	.selectedCell {
		border-width: 4px;
		zborder-bottom-width: 2px;
		border-color: red;
	}
	
    /* Common popup styling */
    .popup {
      display: none;
      position: absolute;
      background: #fff;
      border: 5px solid #ccc;
      padding: 15px;
      z-index: 1000;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      border-radius: 20px;
	  zfont-family: Arial, sans-serif;
    }

	.popup button {
		width: 100%;
		margin-bottom: 15px;
	}
 	
	/* bid/trick popup */
	#btTitle { 
		zmargins: auto;
		text-align: center;
	}
	
    .btGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0px 30px;
      margin-bottom: 20px;
    }
	
	.btGrid div {
		margin: 0px;
	}

	.selectedBT {
		background-color: DarkBlue;
	}
	
	.editing {
		background-color: LightCoral;
	}
	
	/* keypad popup */
	#keypadGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
	
	#keypadGrid button {
		width: 120px;
	}
	
    /* Names input popup */
    #namesPopup {
      width: 95%;
	  margin: auto;
    }
	
    .namesGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
	
	.namesGrid input {
		width: 9em;
	}
